main {
  margin-top: 155px;
  color: var(--text-main);
  background-image: url("../assets/images/main-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

article {
  display: flex;
  justify-content: space-between;
  padding: 40px 45px 35px;
  width: 100%;
  gap: 50px;
  background: var(--bg-main);
  box-sizing: border-box;
}

.products {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.products__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.products__header > h1 {
  font-size: 34px;
}

.products__search input {
  max-width: 250px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
}

.products__search {
  position: relative;
  max-width: 250px;
}

.products__search input[type="text"] {
  padding: 10px;
  padding-right: 30px;
  border: 1px solid #c1c1c1;
  cursor: pointer;

  font-family: Arial, sans-serif;
  font-size: 16px;

  background-size: 16px;
  background: url("../assets/images/Search-input.png") no-repeat right 10px center;
}

.products__search input::placeholder {
  color: #b7b7b7;
  padding: 10px;
}

.products__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.products__content h3 {
  padding: 30px 0 0;
  position: relative;
}

.products__content h3::before {
  content: "";
  position: absolute;
  left: -25px;
  top: 75%;
  width: 19px;
  height: 8px;
  background-color: #aa3132;
}

.products__container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 30px;
}

.products__product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: relative;
}

.products__product > img {
  width: 130px;
  object-fit: cover;
}

.product__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.product__inner .product__props {
  font-size: 11px;
  color: #515151;
}

.product__inner .product__name {
  font-size: 18px;
  color: #191919;
  font-weight: 300;
  text-align: justify;
}

.products__product > button {
  padding: 8px 20px;
  cursor: pointer;

  border-radius: 2px;
  background: #545454;
  background: linear-gradient(180deg, rgba(84, 84, 84, 0.9) 0%, #545454 100%);
  box-shadow: 0px 1px 0px 0px #888888 inset;
  box-shadow: 0px 4px 4px 0px #00000026;

  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: var(--text-white);
}

.products__product:nth-child(2) > button:hover {
  background: linear-gradient(#aa3132 100%, #aa3132 100%);
}

.popup {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 200px;

  padding: 10px 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: #000000cc;
  z-index: 10;

  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #fff;
}

.popup::after {
  content: "";
  position: absolute;
  bottom: -19px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: #000000cc transparent transparent transparent;
}

.popup h5 {
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
}

.products__loader {
  display: flex;
  align-self: center;
  border-bottom: 2px solid #424242;
  padding-top: 20px;
  cursor: pointer;

  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #424242;
}

aside {
  display: flex;
  flex-direction: column;
}

.forms {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.signup-form,
.online-monitor {
  width: 300px;
  padding: 15px 20px 20px;
  border-radius: 2px;
  background-color: #e3e3e3;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.signup-form h3 {
  color: #4f4f4f;
}

.online-monitor h3 {
  color: #000000;
  opacity: 0.1;
}

.signup-form h3,
.online-monitor h3 {
  position: relative;
  line-height: 42px;
  font-size: 24px;
}

.signup-form h3::after,
.online-monitor h3::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 1px;
}

.signup-form h3::after {
  background-color: #c7c7c7;
}

.online-monitor h3::after {
  background-color: #000000;
}

.signup-form__inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 25px;
}

.form-input {
  padding: 14px;
  border: 1px solid #ccc;
  background-color: #ebebeb;
  font-size: 14px;
}

.form-input::placeholder {
  color: #b7b7b7;
  padding: 10px;
}

.terms {
  font-size: 12px;
  color: #000000;
  margin: 10px auto 15px;
  text-align: center;
  font-weight: 11px;
  font-family: Arial, sans-serif;
}
.terms a {
  color: #000000;
  text-decoration: underline;
}

.terms a:hover {
  text-decoration: underline;
}

.signup-form__button,
.online-monitor__button {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
}

.signup-form__button button {
  padding: 10px 45px;

  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 8px;
  color: #737373;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: 0.3s;

  font-size: 15px;
  font-weight: 600;
}

.signup-form__button button:hover {
  background-color: #fff;
}

.online-monitor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 290px;
}

.online-monitor_loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  color: #646464;
  font-family: Arial, sans-serif;
}

.online-monitor_loader > img {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.online-monitor button {
  padding: 10px 45px;

  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 8px;
  color: #737373;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: 0.3s;

  font-size: 15px;
  font-weight: 600;
  opacity: 0.1;
  cursor: not-allowed;
}
